/* color palette: off-white #f4f3f3; gray #dfdfdf; sea foam #bfd8d5; periwinkle b1bed5 */
/* 
    font-family: 'Fjalla One', Helvetica, sans-serif;
    font-family: 'Noto Sans', Helvetica, sans-serif;
*/
/* font scale:   3.052em (48.83px) 
                 2.441em (39.06px) 
                 1.953em (31.25px) 
                 1.563em (25.00px) 
                 1.25em (20.00px) 
                 1em (16.00px) 
                 0.8em (12.80px) 
                 0.64em (10.24px) 
                 0.512em (8.19px) 
        Link: https://type-scale.com/?size=16&scale=1.250&text=A%20Spooky%20Type%20Scale&font=Fjalla%20One&fontweight=400&bodyfont=Poppins&bodyfontweight=400&lineheight=1.45&backgroundcolor=white&fontcolor=%23333&preview=false
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
    width: 960px;
    margin: 0 auto;
}

main {
    overflow: hidden;
    background-color: #F4F3F3;
}

header {
    background-color: #b1bed5;
    padding: 20px;
}

nav {
    text-align: center;
    margin-top: 10px;
    font-size: 1.25em;
}

div.block {
    padding: 20px;
    margin: 10px;
}

div.intro {
    background-color: #dfdfdf;
    height: 300px;
    width: 940px;
    float: left;
    margin-top: 20px;
}

img.intro {
    float: left;
    margin-right: 20px;
    height: 260px;
}

div.professional {
    background-color: #BFD8D5;
    height: 150px;
    width: 940px;
    float: left;
}

.writing {
    background-color: #BFD8D5;
    height: 420px;
    width: 540px;
    float: left;
}

.article {
    background-color: #b1bed5;
    height: 200px;
    width: 380px;
    float: left;
}

.photography {
    background-color: #bfd8d5;
    height: 343px;
    width: 368px;
    float: left;
    clear: left;
}

img#howell1 {
    width: 552px;
    float: right;
    margin: 10px;
}

img#howell2 {
    width: 368px;
    float: left;
    clear: left;
    margin: 10px;
}

img#shelby {
    width: 552px;
    float: right;
    margin: 10px;
}

img#taryn {
    width: 368px;
    float: left;
    margin: 10px;
}

div.arttext {
    background-color: #BFD8D5;
    height: 300px;
    width: 300px;
    float: left;
}

div.artwork1 {
    background-color: #b1bed5;
    height: 300px;
    width: 300px;
    float: left;
    clear: left;
}

div.artwork2 {
    background-color: #b1bed5;
    height: 300px;
    width: 300px;
    float: left;
}

body {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3, ul {
    font-family: 'Fjalla One', Helvetica, sans-serif;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 1.563em;
}

h3 {
    font-size: 1.25em;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 10px;
}

footer {
    text-align: center;
    background-color: #BFD8D5;
    padding: 20px;
    margin: 0 auto;
}

#pagetop {
    clear: both;
    display: block;
    text-align: center;
    margin: 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a.articlelink, a.maglink:hover {
    text-decoration: underline;
}

a.articlelink, a.maglink:visited {
    color: black;
}

a.nav:hover {
    color: #dfdfdf;
}

a.nav:visited {
    color: black;
}

a.social:hover {
    color: #dfdfdf;
}

a.social:visited {
    color: #dfdfdf;
}